* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.main {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    margin: 80px auto;
   
    justify-content: center;
    text-align: center;
    
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .btn {
    padding: 16px;
  }
  form {
    margin-top: 10px;
    border-radius: 25px;
    margin: 0 auto;
  
    
  }
 
  footer ul {
 
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #f0f2f5;
      border: 2px solid #f2f2f2;
    
  }
  .container1 {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 18px auto;
    width: 482px;
  }
  .container2 {
    flex: 1;
    display: flex;
    padding: 8px 8px 0 5px;
    padding-left: 10px;
  }
  .search-field {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -2px;
    margin-left: 0px;
    width: 415px;
    height: 36px;
  }
  
.btn1 {
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.btn {
  margin-top: -18px;
}
